@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

COMERCIALIZADORA SIF

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5a5b5a;
$secondary_color: #d00100;
$tertiary_color: #333;
$background: #f2f2f2;
$background_main: #fdc42a;
$border: #f2f2f2;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background_main;
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top Data */

.top_data {
	padding: 10px 0;
	background-color: #000;
	font-size: 12px;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Top */

.top {
	background: {
		image: url(top_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_to1 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					height: 102px;
					background-color: transparent;
					li {
						background: {
							image: url(moduletable_to1_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&#menu-item-37 {
							width: 188px;
							height: 184px;
							background: {
								image: url(logo.png);
								position: center;
								repeat: no-repeat;
								size: 80%;
							}
							z-index: 1;
							a {
								background-color: transparent;
								color: transparent;
							}
						}
						&.current-menu-item {
							a {
								background-color: rgba(255, 255, 255, 0.6);
							}
						}
						a {
							padding: 45px 18px;
							font: {
								size: 14px;
								weight: bold;
							}
							color: $tertiary_color;
							text-transform: uppercase;
							&:after {
								border-color: $secondary_color transparent transparent
							}
							&:hover {
								background-color: rgba(255, 255, 255, 0.6);
							}
						}
						ul.sub-menu {
							height: inherit;
							padding: 10px;
							background-color: #fff;
							border: 0;
							z-index: 2;
							li {
								padding: 0;
								background: none;
								border: none;
								display: block;
								a {
									padding: 10px;
									&:hover {
										background-color: $secondary_color;
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.relative {
		margin-top: -30px;
		position: relative;
		z-index: 2;
	}
	.moduletable_to2 {
		font-size: 12px;
		color: $tertiary_color;
		.woocommerce-product-search {
			width: 55%;
			float: right;
			position: relative;
			label {
				display: none;
			}
			input {
				&[type=search] {
					width: 140px;
					height: inherit;
					margin: 0;
					padding: 2px;
					font-size: 12px;
					float: left;
					position: relative;
				}
				&[type=submit] {
					width: 24px;
					height: 24px;
					background: {
						color: #000;
						image: url(moduletable_to2_submit_bg.png);
						position: center;
						repeat: no-repeat;
					}
					border: none;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
					color: transparent;
					float: left;
					position: relative;
				}
			}
		}
	}
	.moduletable_to3 {
		p {
			margin: 0;
			font-size: 14px;
			img {
				width: 20px;
			}
		}
	}
	.moduletable_to4 {
		padding: 10px 0;
		img {
			height: 120px;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		.flexslider {
			margin: 0;
		}
	}
}

/* Submenu */

.submenu {
	padding-top: 30px;
	.row {
		background-color: #fff;
	}
	ul.menu {
		border-bottom: 1px solid $border;
		li {
			&.current-menu-item {
				a {
					background-color: $secondary_color;
					color: #fff;
				}
			}
			a {
				color: $primary_color;
				text-transform: uppercase;
				&:hover {
					background-color: $secondary_color;
					color: #fff;
				}
			}
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	.row {
		padding: 1em 0;
		background-color: #fff;
	}
	h1 {
		margin-bottom: 10px;
		font: {
			size: 18px;
			weight: bold;
		}
		color: $secondary_color;
		&.title_content {
			font-weight: bold;
			span {
				font-weight: bold;
			}
		}
	}
	h2 {
		font: {
			size: 18px;
			weight: bold;
		}
		color: $secondary_color;
	}
	.wpcf7-form {
		input {
			&[type=text],
			&[type=email] {
				margin: 0;
				background-color: $background;
			}
			&.button {
				background-color: #000;
			}
		}
		textarea {
			margin: 0;
			background-color: $background;
		}
	}
	.woocommerce {
		ul.products {
			background-color: $background;
			li {
				width: 218px;
				margin: 10px;
				padding: 10px;
				background-color: #fff;
				border: 1px solid $border;
				a {
					display: block;
					img {
						border: 1px solid $border;
					}
					h2.woocommerce-loop-product__title {
						padding: 5px;
						background-color: $secondary_color;
						color: #fff;
						text-align: center;
					}
				}
			}
		}
		table {
			&.variations {
				td {
					&.label {
						padding: 10px;
						background: transparent;
					}
					&.value {
						padding: 10px;
					}
				}
			}
		}
		a {
			&.add-request-quote-button {
				margin: 10px 0;
				background-color: #000;
				color: #fff,
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background: {
		image: url(block_1_bg.png);
		position: center;
		repeat: no-repeat;
		size: auto 100%;
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.row {
		padding: 1em 0;
		background-color: #fff;
	}
	.moduletable_b21 {
		h3 {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font: {
				size: 14px;
				weight: bold;
			}
			text-transform: uppercase;
		}
		ul.product_list_widget {
			margin: 0;
			background-color: $background;
			list-style: none;
			li {
				width: 218px;
				margin: 10px;
				padding: 10px;
				background-color: #fff;
				border: 1px solid $border;
				display: inline-block;
				a {
					display: block;
					img {
						margin: auto;
						margin-bottom: 10px;
						border: 1px solid $border;
						display: block;
					}
					span.product-title {
						width: 180px;
						margin: auto;
						padding: 5px;
						background-color: $secondary_color;
						color: #fff;
						text: {
							align: center;
							overflow: ellipsis;
						}
						overflow: hidden;
						white-space: nowrap;
						display: block;
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 10px 0;
	background-color: $background;
	.moduletable_b31 {
		p {
			margin: 0;
			a {
				padding: 0 10px;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	.moduletable_b41 {
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		font-size: 18px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to1 {
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					color: #000;
					text-align: center;
					button {
						&:after {
							background: #000;
							box-shadow: 0 7px 0 #000, 0 14px 0 #000;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						height: inherit;
						padding-top: 10px;
						li {
							width: 100%;
							background-image: none;
							&#menu-item-37 {
								display: none;
							}
							a {
								width: 100%;
								padding: 10px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.relative {
			margin-top: 0;
			padding: 10px 0;
		}
		.moduletable_to2 {
			.woocommerce-product-search {
				width: 45%;
				input {
					&[type=search] {
						width: 80px;
					}
				}
			}
		}
		.moduletable_to3 {
			p {
				font-size: 12px;
			}
		}
	}

	/* Bottom */

	.bottom {
		.moduletable_bo1 {
			font-size: 14px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}